 header {
     background-color: rgba(232, 163, 229, 0.5);
     padding: 25px;
 }

 body {
     margin: 0px;
     background-color: rgba(230, 217, 252, 0.52)
 }

 main {
     text-align: center;
     display: block;
     background-color: rgba(235, 215, 250, 0.63);
     max-width: 780px;
     margin: auto;
     padding: 25px;
 }

 img {
     height: 300px;
     display: block;
     margin: auto;
 }

 footer {
     text-align: center;
     background-color: rgba(232, 163, 229, 0.5);
     margin: auto;
     padding: 25px;

 }

 p {
     display: block;
     max-width: 400px;
     text-align: center;
     margin: auto;
 }
